<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./images/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo">
            <div class="searchbar">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar">
                </i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <img src="images/img-home-banner.jpg" alt="home-baner" class="imagen-header">

    <main>
        
        <h2>Basado en tu última visita</h2>
        <section class="contenedor-section">
            <article class="contenedor-producto">
                <img src="./images/img-cafetera-moulinex.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>    
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-macbook-pro-2019.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-tv-samsung-smart.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <h2>Sección de Ofertas</h2>
        <section class="contenedor-section">
            <article class="contenedor-producto">
                <img src="./images/img-cafetera-moulinex.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-macbook-pro-2019.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="contenedor-producto">
                <img src="./images/img-tv-samsung-smart.jpg" alt="" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="contenedor-section-footer">
            <article class="contenedor-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="contenedor-footer">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="contenedor-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>