@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: #EAC926;
  margin:0;
  padding:0;
}

header p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

.price {
  font-size: 18px;
}

.discount {
  font-size: 16px;
}

.description {
  font-size: 16px;
}

.search-container {
  margin: 20px;
}

.search-field {
    min-width: 170px; /* ajusta el valor según tus necesidades */
}

button.search-btn {
  padding: inherit !important;
}

nav.nav-container {
margin-left: 0;
font-size: 12px;
}

nav.nav-container ul {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0;
padding: 0;
padding-left: 0;
}

nav.nav-container li {
margin-right: 0px;
list-style: none;
}

nav.nav-container a {
color: black;
text-decoration: none;
padding: 0px;
}


.burger-menu {
    background-color: #1259c3;
    padding: 5px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.compra-container {
    display: flex; /* convierte el contenedor en un flexbox */
    align-items: center; /* centra verticalmente los elementos */
    justify-content: center; /* centra horizontalmente los elementos */
    text-align: center; /* centra el texto del párrafo */
}
